* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
}

#__next {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-select-selector,
.ant-picker,
.ant-input,
.ant-input-number,
.ant-input-password,
.ant-form-item-control-input {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-back-top {
bottom: 30%;
}

.ant-select-focused > div,
.ant-picker-focused,
.ant-input:focus,
.ant-input-number:focus,
.ant-input-password.focused {
  border-bottom: 1px solid #0d72ce !important;
}

.ant-input-number {
  width: 100% !important;
}

.ant-input-password > *,
.ant-input-password > *:focus {
  border: none !important;
}

.ant-input-group-addon {
  background: #fff !important;
  border: none !important;
  transform: translateY(-1px);
}

.ant-collapse {
  border-radius: 5px !important;
  overflow: hidden;
}

.ant-collapse-header {
  background: #fff;
  color: #0d72ce !important;
  font-weight: 600;
}
.ant-divider-horizontal {
  margin: 0.5rem 0 1rem !important;
}

.ant-table {
  overflow: auto;
}

/* width */
.ant-table::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.ant-table::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.ant-table::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Handle on hover */
.ant-table::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.ant-table-thead > tr > th {
  text-align: center !important;
}

@media screen and (max-width: 768px) {
  .ant-drawer {
    z-index: 999999999999 !important;
  }
}
