.formContainer {
    background: #fff;
    padding: 2rem 3rem 1.5rem;
    margin: 2rem auto;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 32px;
}

.btn {
    margin-top: 2rem;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
}

.layout {
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .content {
        display: block;
        padding: 3rem 0;
    }

    .layout {
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding: 0;
    }

    .formContainer {
        margin: 0;
    }

    .item {
        width: 90% !important;
        margin: 0 auto 1.5rem;
    }

    .btnContainer {
        width: 80%;
        margin: 0 auto i !important;
    }
}