.container {
    background: #fff;
}

.content {
    background: #fff;
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;
}

.ant-collapse{
  border: 0px;
}

.textQ {
    font-size: 24px;
}

.textA {
    font-size: 16px;
}