.layout {
  width: 100% !important;
  overflow: auto;
}
.content {
  max-width: 1140px;
  width: 100% !important;
  overflow: auto;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.content > p {
  text-align: justify;
}

.title {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .content {
    padding: 1rem 2rem;
  }
}
